
sample_4Prodigy.json
labels.txt
report__report.txt
anotats/pilot_anotat.json
anotats/pilot_report.txt
correccio_report.txt
definitivo_report.txt
entregas/entrega1.json
entregas/entrega2.json
entregas/entrega3.json
entregas/entrega4.json
entregas/pilot.json
anotats/Lote_2_-_Entrega_1_Batch_1_annotations_output.json
anotats/Lote_2_-_Entrega_1_Batch_0_annotations_output.json
anotats/Entrega_1_Batch_0.txt_report.txt
